:root {
  /* Fonts */
  --title: Baloo2;
  --main-txt: Abel;
  --bold-txt: Alegreya Sans;
  --numbers: Acme;
  --cp: Lato;
  --footer1: Exo;
  --footer2: Exo2;
  /* Colors */
  --text-color: #241F1F;
  --text-color-ligth: #60606E;
  --color-primary: #F5C24D;
  --color-icon: #2A819E;
  --color-wide: #F2F2F2;
  --gray: #808080;
  --color-hover: #EFEBE2;
  --color-button: #92F246;
  --mini-bg: #F2D146;
  --main-dark: #263236;
  --nums: #ED6059;
}

* {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.search-window.active {
  visibility: visible;
  width: 60%;
  height: 97dvh;
  padding: 1%;
  left: 50%;
  transform: translate(-50%, 2%);
}
.search-window.active .viewport-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.search-window.active .viewport-container .search-bar {
  width: 100%;
  display: flex;
  background-color: rgb(255, 255, 255);
  box-shadow: -1px 1px 2px rgba(213, 208, 208, 0.66);
  justify-content: space-around;
  border-radius: 10px;
  padding: 15px 10px;
}
.search-window.active .viewport-container .search-bar .options {
  width: 27%;
  display: flex;
  justify-content: space-around;
}
.search-window.active .viewport-container .viewport {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1vh;
}
.search-window.active .viewport-container .viewport .not-found {
  margin: auto;
  font-size: 40px;
  color: rgba(183, 182, 182, 0.72);
}
.search-window.active .search-block {
  width: 73%;
  position: relative;
  display: flex;
}
.search-window.active .search-block .search-label {
  position: absolute;
  top: 0;
  left: 1.5vw;
  transform: translate(0, -50%);
  font-size: 14px;
  background-color: white;
  box-sizing: content-box;
  padding: 0 10px;
}
.search-window.active .search-block .search-input {
  width: 100%;
  height: 5vh;
  box-shadow: 1px 0 5px #f8eeee inset;
  border-radius: 5000px;
  padding: 0 1vw;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
}
.search-window.active input:focus {
  outline: 1px solid #d3cfcf;
}
.search-window.active .description-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.search-window.active .by-description {
  width: 1vw;
  height: 1vw;
}
.search-window.active .desc-label {
  font-size: 12px;
}
.search-window.active .date {
  width: 100%;
  height: 100%;
  padding: 0 0.7vw;
  font-size: 16px;
}

.general-container.blur {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

body.on-search {
  height: 100vh;
  overflow: hidden;
}

.search-window {
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out all;
  overflow: hidden;
  border-radius: 10px;
}

header {
  width: 100%;
}
header .nav-block {
  width: 100%;
  height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .nav-block .mini-control-bar {
  height: 100%;
  width: 100%;
  background-color: #D2D2D2;
}
header .nav-block .mini-control-bar .control-block {
  height: 100%;
  width: 80.5%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
header .nav-block .mini-control-bar .control-block .nav-link {
  color: #848484;
  font-size: 12px;
  font-weight: bold;
}
header .nav-block .mini-control-bar .control-block .flag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 3px;
}
header .nav-block .mini-control-bar .control-block .flag .flag-icon {
  width: 1vw;
  height: 1.5vh;
}
header .nav-block .mini-control-bar .control-block .flag.h-line,
header .nav-block .mini-control-bar .control-block .h-line {
  width: 1px;
  height: 70%;
  background-color: white;
}
header .nav-block .site-navigation {
  width: 100%;
  height: 10vh;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5vw;
  padding: 5px 50px;
}
header .nav-block .site-navigation .site-icon {
  height: 100%;
  width: 11vw;
  display: flex;
  align-items: center;
  gap: 1.5vw;
}
header .nav-block .site-navigation .site-icon .site-logo {
  height: 100%;
}
header .nav-block .site-navigation .site-icon .h-line {
  width: 2px;
  height: 100%;
  background-color: white;
}
header .nav-block .site-navigation #search-button {
  cursor: pointer;
  background-color: transparent;
}
header .nav-block .site-navigation #search-button .search-icon {
  width: 30px;
  height: 30px;
}
header .nav-block .site-navigation .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
header .nav-block .site-navigation .nav-links .nav-link {
  color: var(--text-color);
}
header .nav-block .site-navigation .nav-links .nav-link.active {
  height: 25px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
header .nav-block .site-navigation .three-dots {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
header .nav-block .site-navigation .three-dots .dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: black;
}

/*# sourceMappingURL=base.css.map */
