{% extends 'layouts/base.html' %}


{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'account/css/change_password.css' %}">
{% endblock %}


{% block content %}
	 <div class="main">
        <form action="">

            <div class="form_body">

                <div class="box">

                    <h1>change password</h1>
                    <div class="">
                        <p>Curent password</p>
                        <input type="text">
                    </div>
                    <div class="">
                        <p>new password</p>
                    <input type="text" >
                    </div>
                    <div class="">
                        <p>confirim password</p>
                    <input type="text">
                    </div>

                    <button type="submit">
                        submit
                    </button>

                </div>


            </div>
       
        </form>

    </div>
{% endblock %}
    
