{% extends 'layouts/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'account/css/generator passsword.css '%}">
{% endblock %}

</head>

   {% block content %}
   	 <form action="">
        <div class="main">
            <div class="box">
                <h1> E-mail adresizga kelgan kodni kiritng </h1>
                <div class="input-group">
                    <input type="number" min="0" max="9" maxlength="1" id="digit1" class="password">
                    <input type="number" min="0" max="9" maxlength="1" id="digit2" class="password">
                    <input type="number" min="0" max="9" maxlength="1" id="digit3" class="password">
                    <input type="number" min="0" max="9" maxlength="1" id="digit4" class="password">
                </div>
                <input type="submit" id="next">

                <p> orqaga qaytishni hohlasen <a href="" class="log"> orqaga </a></p>
            </div>
        </div>
    </form>

    <script>
        const inputs = document.querySelectorAll('.input-group input');

        inputs.forEach((input, index) => {
            input.addEventListener('input', (event) => {
                if (event.inputType === 'insertText') {
                    const enteredValue = parseInt(event.target.value);
                    if (!isNaN(enteredValue) && enteredValue >= 0 && enteredValue <= 9) {
                        if (index < inputs.length - 1 && event.target.value !== '') {
                            inputs[index + 1].focus();
                        } else if (index === inputs.length - 1 && event.target.value !== '') {
                            // Sizga kerak bo'lgan oxirgi son
                            const lastDigit = event.target.value;
                            console.log(`Oxirgi son: ${lastDigit}`);
                            // Boshqa amallarni bajaring, masalan, formani yuboring
                            // document.querySelector('form').submit();
                        }
                    } else {
                        // Foydalanuvchi noto'g'ri son kiritdi
                        event.target.value = '';
                    }
                }
            });
        });
    </script>
   {% endblock %}


</body>
</html>
