{% extends 'layouts/base.html' %}
{% load static %}
{% load socialaccount %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'login/css/profile.css' %}">
    <script defer src="{% static 'login/js/login.js' %}"></script>
    <style>
        .p_img {
            background-image: url("{% static 'login/imgs/profile.svg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
        }
    </style>
{% endblock %}
{% block content %}
    <section class="body">
        <div class="block">
            <div class="p_img">
                <h1 class="p_h_text">ЛИЧНЫЙ КАБИНЕТ</h1>
            </div>
            <div class="profile">
                <span class="display-none" id="login-message"></span>
                <div class="p_form">
                    <div style="text-align: start">
                        <label for="username" class="profile_label">Логин <span> (E-MAIL)</span></label>
                        <input class="profile_input" type="text" placeholder="" id="username" name="username">
                        <label for="password">Пароль</label>
                        <input class="profile_input" type="password" placeholder="" id="password" name="password">
                        <div class="profile_input_check">
                            <div class="remember-box">
                                <label for="remember-me" class="a zapomnit">запомнить</label>
                                <input class="display-none" type="checkbox" name="remember" id="remember-me">
                                <button class="remember" type="button" id="remember"><i class="display-none bi bi-check"
                                                                                        id="check-icon"></i></button>
                            </div>
                            <a class="a zb_pr" href="#"> забыли пароль</a>
                        </div>
                        <div class="center">
                            <button type="submit" class="profile_btn" id="btn-login">ВОЙТИ</button>
                        </div>
                    </div>
                </div>
                <div class="center">
                    <a class="a pr_text" href="#">войдите через аккаунт социальной сети</a>
                    <hr class="white_hr"/>
                    <form action="{% provider_login_url google process='login' %}" method="post">
                        {% csrf_token %}
                        <button class="p_icons" type="submit"><img
                                src="{% static 'login/imgs/g+.svg' %}" alt=""></button>
                        <a href="" class="p_icons"><img src="{% static 'login/imgs/f.svg' %}" alt=""></a>
                        <a href="" class="p_icons"><img src="{% static 'login/imgs/intsa.svg' %}" alt=""/></a>
                        <a href="" class="p_icons"> <img src="{% static 'login/imgs/tg.svg' %}" alt=""/> </a>
                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
{#------------------- Team leader edits -------------------#}
{% block modal %}
    <section class="forgot-password">

    </section>
{% endblock %}
{#---------------------------------------------------------#}
