{% extends 'layouts/base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'profile/css/profile.css' %}">
    <script src="{% static 'profile/js/profile.js' %}" defer></script>
    <script defer>let array = [{% for com in competitions %}'competition-{{ forloop.counter }}', {% endfor %}]</script>
	<title>Profile</title>
{% endblock %}
{% block content %}
<main class="profile-main">
    <div class="container">
        <div class="profile">
            <h2 class="profile-h2">Личные данные</h2>
            <div class="profile-content">
                <div class="block left">
                    <label for="" class="img">
                        <img id="photo" src="{% static 'profile/img/def-user-photo.png' %}" alt="">
                        <input class="display-none" type="file" id="submit-photo" name="photo">
                    </label>
                    <div class="text">
                        <div>
                            <span class="display-none" id="name-message"></span>
                            <label class="info-text" for="">
                                <input class="info-text" type="submit" id="name" value="{{ request.user.first_name|default:'Ваше имя' }}" name="first_name">
                            </label>
                        </div>
                        <div>
                        <span class="display-none" id="surname-message"></span>
                            <label class="info-text" for="">
                                <input class="info-text" type="submit" id="surname" value="{{ request.user.last_name|default:'Ваше фамилия' }}" name="last_name">
                            </label>
                        </div>
                        <div>
                            <span class="display-none" id="phone-message"></span>
                            <label class="info-text" for="">
                                <input class="info-text" type="submit" id="phone" value="{{ request.user.phone|default:'Ваше номер телефона' }}" name="phone">
                            </label>
                        </div>
                        <div>
                            <span class="display-none" id="email-message"></span>
                            <label class="info-text" for="">
                                <input class="info-text" type="submit" id="email" value="{{ request.user.email|default:'Ваше Е-mail' }}" name="email">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="block right">
                    <div>
                    <span class="display-none" id="birth-date-message"></span>
                        <label class="info-text" for="">
                            <input class="info-text" type="submit" id="birth-date" value="{{ participant.birthday|default:'Дата рождения' }}" name="participant-birthday">
                        </label>
                    </div>
                    <div>
                        <span class="display-none" id="address-message"></span>
                        <label class="info-text" for="">
                            <input class="info-text" type="submit" id="address" value="{{ participant.address|default:'Ваше адрес' }}" name="participant-address">
                        </label>
                    </div>
                    <form action="" class="gender-info">
                        <div class="gender-block">
                            <div class="gender-img"><img src="{% static 'profile/img/femail.png' %}" alt=""></div>
                            <label for="female-check" class="gender-check">
                                <img id="female" src="{% static 'profile/img/check-false.png' %}" alt="">
                            </label>
                            <input class="display-none" type="radio" name="female" id="female-check">
                        </div>
                        <div class="gender-block">
                            <div class="gender-img"><img src="{% static 'profile/img/male.png' %}" alt=""></div>
                            <label for="male-check" class="gender-check">
                                <img id="male" src="{% static 'profile/img/check-false.png' %}" alt="">
                            </label>
                            <input class="display-none" type="radio" checked name="male" id="male-check">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="competitions">
            <div class="com-head">
                <span class="com-span">Текущие конкурсы</span>
            </div>
            {% for competition in competitions %}
            <div class="competition" id="competition-{{ forloop.counter }}">
                <div class="img"><img src="{{ competition.img.url }}" alt=""></div>
                <div class="description">
                    <span class="title">{{ competition.title }}</span>
                    <p class="text">{{ competition.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="side-bar">
        <div class="control-block">
            <div class="notifications"><img src="{% static 'profile/img/notification.png' %}" alt=""></div>
            <button class="logout-button" id="btn-logout">logout</button>
            <button class="change-password" id="btn-change-password">change password</button>
        </div>
        <div class="certificates">
            <span class="date">{{ date }}</span>
            {% for certificate in certificates %}
                <a href="{% url '' %}" class="certificate"><img src="{{ certificate.image.url }}" alt=""></a>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
{% block modal %}
    <button class="display-none" id="btn-close" type="button"></button>
	<div class="change-password-container display-none" id="modal-change-pass">
        <span class="display-none" id="change-password-message"></span>
        <label for="">
            <span class="display-none" id="old-password-message"></span>
            <input class="modal-input" id="old-password" type="password" name="password">
        </label>
        <label for="">
            <span class="display-none" id="new-password-message"></span>
            <input class="modal-input" id="new-password" disabled type="password" name="newpassword">
        </label>
        <label for="">
            <span class="display-none" id="re-new-password-message"></span>
            <input class="modal-input" id="re-new-password" disabled type="password" name="newpassword">
        </label>
        <button class="confirm-change-password" id="confirm-change-password" type="button"></button>
    </div>
    <div class="logout display-none" id="modal-logout">
        <span class="display-none" id="logout-message"></span>
        <label for="">
            <span class="display-none" id="password-message"></span>
            <input class="modal-input" id="password" type="password" name="password">
        </label>
        <button class="confirm-logout" id="confirm-logout" disabled type="button"></button>
    </div>
{% endblock %}