{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'main/css/main_page.css' %}">
    <title>Be First</title>
{% endblock %}

{% block header %}
    <div class="back" style=" background-image: url({% static 'main/imgs/bg_body.png' %});
            background-repeat: no-repeat;
            background-size: cover">
        <div class="container">
            <div class="main_page">
                <div class="main_part">
                    <h1 class="text_h1">{% trans 'МЕРОПРИЯТИЯ ОБРАЗОВАТЕЛЬНОГО ПОРТАЛА' %}</h1>
                    <img class="logo_ph" src="{% static 'main/imgs/logo.png' %}" alt="">
                </div>
                <div class="children">
                    <div class="rasm-block">
                        <img class="rasm" src="{% static 'main/imgs/children.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}