{% load static %}
<link rel="stylesheet" href="{% static 'base/css/footer.css' %}">
<!-- ======= Footer ======= -->
<footer>
    <div class="footer footer-gray">
        <div class="footer-custom">
            <div class="footer-lists">
                <div class="footer-list-wrap">
                    <h5 class="ftr-hdr">Карта сайта</h5>
                    <ul class="ftr-links-sub">
                        <li><a href="" rel="">Главная</a></li>
                        <li><a href="" rel="">Результаты</a></li>
                        <li><a href="" rel="">О нас</a></li>
                        <li><a href="">Правила</a></li>
                        <li><a href="">Работы</a></li>
                    </ul>
                </div>
                <div class="footer-list-wrap">
                    <h5 class="ftr-hdr">Контакты</h5>
                    <ul class="ftr-links-sub">
                        <li><a href="">+998 71 234 56 78</a></li>
                        <li><a href="">befirst@gmail.com</a></li>
                        <li><a href="">г. Ташкент, Юнусабадский район, ул Узбекистан</a></li>
                    </ul>
                    <br>
                    <br> <br>
                </div>
                <div class="footer-list-wrap f-social">
                    <h5 class="ftr-hdr">Мы в соцсетях:</h5>
                    <div class="social-links">
                        <a href="#" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#" class="telegram"><i class="fa-solid fa-paper-plane"></i></a>
                        <a href="#" class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="footer-list-wrap">
                    <ul class="ftr-links-sub list-img">
                        <li><a href="#">
                            <img src="{% static "base/img/logo1.svg" %}" alt="">
                        </a></li>
                        <li>
                            <div class="copyright">
                                 <strong><span>BeFirst 2023</span></strong> &copy;
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
