<div class="search-window" id="search-window">
    <div class="viewport-container">
        <form action="" class="search-bar">
            {% csrf_token %}
            <div class="search-block">
                <label class="search-label" for="search-input">search by title</label>
                <input class="search-input" type="text" name="title" id="search-input">
            </div>
            <div class="options">
                <div class="description-block">
                    <input class="by-description" type="checkbox" id="by-description">
                    <label class="desc-label" for="by-description">by description</label>
                </div>
                <input class="date" type="date" id="date-input">
            </div>
        </form>
        <div class="viewport" id="viewport"></div>
    </div>
</div>