*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}

input{
    display: block;
    border-radius: 5px;
    border: solid 1px black;
    outline: none;
    padding: 2px 5px;

}

.main{
    background: url("/static/join/img/back.png") ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}



.box{
    width: 350px;
    height: 300px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(245, 194, 77);
}

button{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    background-color: #42E452;
}

