{% extends 'layouts/base.html' %}
{% load static %}
{% block extra_head %}
	<title>Sign-in</title>
    <link href="{% static "expert/expert_registaration/main/css/main.css" %}" rel="stylesheet">
    <script defer src="{% static "expert/expert_registaration/main/js/main.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="box">
            <div class="yellow-box">
                <div class="title">
                    <h1 id="register-text">РЕГИСТРАЦИЯ</h1>
                </div>
                <img src="{% static 'expert/expert_registaration/main/img/registration.svg' %}" alt="">
            </div>
            <div class="content">
                <div class="title">Registration Form</div>
                 <div class="message"><span id="message1"></span></div>
                <div>
                    <label class="field" for="username">
                        <span class="fa fa-user"></span>
                        <input type="text" value="" id="username" required placeholder="Username">
                    </label>
                    <label class="field space" for="password">
                        <span class="fa fa-lock"></span>
                        <input type="password" id="password" class="pass-key" required placeholder="Password">
                    </label>
                    <div class="button">
                        <button id="regBtn" type="button">REGISTER</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
	<div id="popup" class="pop">
        <div class="title"><h1 id="register-text">Change Password</h1></div>
        <div class="message"><span id="message2"></span></div>
        <div>
            <label class="field" for="newusername">
                <span class="fa fa-user"></span>
                <input type="text" value="" id="newusername" required placeholder="Username">
            </label>
            <label class="field space" for="newpassword">
                <span class="fa fa-lock"></span>
                <input type="password" id="newpassword" class="pass-key" required placeholder="Password">
            </label>
            <div class="button"><button id="regBtn2" type="button">CHANGE</button></div>
        </div>
    </div>
{% endblock %}
