{% extends 'layouts/base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'competition/competition.css' %}">
{% endblock %}
{% block content %}
    <div class="container konkurs">
        <div class="mt-4 mb-4">
            <span class="konkurs_text">КОНКУРС</span>
            <p class="konkurs_lorem ">Lorem eqfwe qefwlekm qlfml ipsum dolor sdflsnklvkndflbvkdnfvnflbkvenfvlit amet consectetur adipisicing elit. Itaque voluptatem similique, quidem, architecto et iure ab vitae fuga tempore sunt consectetur perspiciatis odio dolor nisi nostrum blanditiis natus ducimus commodi!</p>
            <a href="#" class="konkurs_button btn btn-danger">отправить заявку на участие</a>
        </div>
        <div class="competitions d-flex justify-content-between pt-4" style="height: 22rem;">
            <div class="card" style="width: 22rem; height: 20rem;">
                <img src="{% static 'img/img1.svg'%}" class="rounded" alt="..." style="width: 350px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card_button btn d-flex align-items-center">Go somewhere</a>
                </div>
            </div>
            <div class="card card_yellow" style="width: 22rem; height: 20rem;">
                <img src="{% static 'img/img1.svg'%}" class="rounded" alt="..." style="width: 350px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card_button_red btn btn d-flex align-items-center">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 22rem; height: 20rem;">
                <img src="{% static 'img/img1.svg'%}" class="rounded" alt="..." style="width: 350px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn card_button d-flex align-items-center">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="competitions d-flex justify-content-between pt-4" style="height: 22rem;">
            <div class="card card_yellow" style="width: 22rem; height: 20rem;">
                <img src="{% static 'img/img1.svg'%}" class="rounded" alt="..." style="width: 350px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card_button_red btn btn d-flex align-items-center">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 22rem; height: 20rem;">
                <img src="{% static 'img/img1.svg'%}" class="rounded" alt="..." style="width: 350px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card_button btn d-flex align-items-center">Go somewhere</a>
                </div>
            </div>
            <div class="card card_yellow" style="width: 22rem; height: 20rem;">
                <img src="{% static 'img/img1.svg'%}" class="rounded" alt="..." style="width: 350px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card_button_red btn btn d-flex align-items-center">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="competitions d-flex justify-content-between pt-4" style="height: 22rem;">
            <div class="card" style="width: 22rem; height: 20rem;">
                <img src="{% static 'img/img1.svg'%}" class="rounded" alt="..." style="width: 350px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card_button btn d-flex align-items-center">Go somewhere</a>
                </div>
            </div>
            <div class="card card_yellow" style="width: 22rem; height: 20rem;">
                <img src="{% static 'img/img1.svg'%}" class="rounded" alt="..." style="width: 350px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card_button_red btn btn d-flex align-items-center">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 22rem; height: 20rem;">
                <img src="{% static 'img/img1.svg'%}" class="rounded" alt="..." style="width: 350px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn card_button d-flex align-items-center">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="pagination d-flex justify-content-center mt-4">
            <a class="previous d-flex align-items-center" href="#"><i class="bi bi-caret-left"></i></a>
            <a class="a" href="#">1</a>
            <a class="a active" href="#">2</a>
            <a class="a" href="#">3</a>
            <a class="a" href="#">4</a>
            <a class="a" href="#">4</a>
            <a class="a" href="#">5</a>
            <a class="a" href="#">6</a>
            <a class="next d-flex align-items-center" href="#"><i class="bi bi-caret-right"></i></a>
        </div>
        <div class="div_button d-flex flex-row-reverse bd-highlight ">
            <a href="#" class="atpravit_a  btn btn-danger d-flex align-items-center justify-content-center" >отправить заявку</a>
        </div>
    </div>
{% endblock %}
