{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}
    <title>Questionare</title>
    <link rel="stylesheet" href="{% static 'join/css/join.css' %}">
{% endblock %}
{% block content %}
<div class="all">
    <div class="container">
        <div class="join">
            <div class="texts">
                <div class="join-text">
                    <h1 class="member">{% trans 'Участие В конкурсе' %}</h1>
                </div>
                <div class="text-p">
                    <p>
                       {% blocktranslate %}
                       	Для клиента очень важно знать о его потребностях, но в то же время происходит то же самое.
                         с упорным трудом
                         и
                         с какой-то сильной болью. Подойдя к мельчайшим деталям, кто
                       {% endblocktranslate %}
                    </p>
                </div>
                <div class="join-info">
                    <a href="">
                        <button>{% trans 'подробное' %}</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="inputs">
            <div class="input-content">
                <div class="questionnaire">
                    <h2>{% trans 'АНКЕТА' %}</h2>
                    <p>{% trans 'пожалуйста, заполните эту форму, чтобы создать учетную запись' %}</p>
                    <hr style="width: 450px">
                </div>
                <div class="form">
                    <div class="input">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="flex">
                                <div class="input">
                                    <input type="text" placeholder="{% trans 'Имя' %}:" name="first_name">
                                </div>
                                <div class="input">
                                    <input type="text" placeholder="{% trans 'Фамилия' %}:" name="last_name">
                                </div>
                            </div>
                            <div class="selectors">
                                <div class="select">
                                    <div class="selector">
                                        <select name="age" id="">
                                            <option value="15">15</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                    <div class="selector">
                                        <select name="category" id="">
                                            <option value="young">{% trans 'возраст' %}</option>
                                            <option value="Лет:">{% trans 'средний возраст' %}</option>
                                        </select>
                                    </div>
                                    <div class="selector">
                                        <select name="region" id="">
                                            <option value="Tashkent">{% trans 'Ташкент' %}</option>
                                            <option value="Samarkand">{% trans 'Самарканд' %}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="phone">
                                    <input type="text" placeholder="{% trans 'Телефон' %}:" name="phone_number">
                                </div>
                                <div class="gender-info">
                                    <div class="gender-block">
                                        <div class="gender-img"><img src="{% static 'profile/img/femail.png' %}" alt="">
                                        </div>
                                        <label for="female-check" class="gender-check">
                                            <img src="{% static 'profile/img/check-false.png' %}" alt="">
                                        </label>
                                        <input class="display-none" type="radio" name="female" id="female-check">
                                    </div>
                                    <div class="gender-block">
                                        <div class="gender-img"><img src="{% static 'join/img/women.png' %}" alt="">
                                        </div>
                                        <label for="male-check" class="gender-check">
                                            <img src="{% static 'profile/img/check-false.png' %}" alt="">
                                        </label>
                                        <input class="display-none" type="radio" name="male" id="male-check">
                                    </div>
                                </div>
                                <div class="textarea">
                                    <textarea name="comment" id="" cols="30" rows="10"
                                              placeholder="{% trans 'Ваш коммент...' %}"></textarea>
                                </div>
                                <input type="checkbox" id="checkbox">
                                <label for="checkbox" class="remember">{% trans 'Запомнить' %}</label>
                                <div class="button">
                                    <button type="submit" class="ok">{% trans 'OK' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
