root {

}


* {
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.contact_img {
  display: flex;
  justify-content: space-around;
}

.text_h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 112px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 100px;


}

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-50 {
  width: 50%;
}

.c_img {
  width: 667px;
  height: 308px;
  top: 341px;
}

.c_img_logo {
  width: 242px;
  height: 273px;
  align-items: center;

}


.contact_body {
  background-color: rgba(245, 194, 77, 1);
  display: flex;
  justify-content: space-around;
  padding: 50px 50px;


}

.text-h3 {
  margin-bottom: 50px;
}

.contact_a {
  text-decoration: none;
  color: black;
}

.contact_map {
  padding: 0px 60px;
}

.contact_map_ifr {
  width: 100%;
  height: 598px;

}

.contact_start_form {
  padding: 0px 60px;
}

.contact_input {
  width: 100%;
  padding: 15px 5px;
  margin-top: 30px;
  border: none;
}

.contact_input_text-area {
  width: 100%;
  padding: 10px 5px 200px 10px;
  margin-top: 30px;
  border: none;
}

.contact_block_btn {
  width: 105%;
  margin-top: 50px;
  display: flex;
  justify-content: end;
}

.contact_btn {
  background-color: rgba(45, 245, 125, 1);
  padding: 20px 40px;
  border-radius: 13px;
  color: white;
  border: none;

}

@media (max-width: 1600px) {
  .contact_map {
    padding: 0px 40px;
  }

  .contact_start_form {
    padding: 0px 40px;
  }
}

@media (max-width: 1439px) {
  .contact_map_ifr {
    width: 100%;
    height: 615px;

  }

}

@media (max-width: 1250px) {
  .c_img {
    width: 400px;
    height: 250px;
    top: 341px;
  }


  .c_img_logo {
    width: 200px;
    height: 273px;
    align-items: center;

  }


}

@media (max-width: 1200px) {
  .contact_body {
    background-color: rgba(245, 194, 77, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px;

    .w-50 {
      width: 100%
    }

    .contact_map_ifr {
      width: 100%;
      height: 300px;

    }

  }

}


@media (max-width: 961px) {
  .container {
    width: 100%;

    .contact_body {
      background-color: rgba(245, 194, 77, 1);
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 50px 50px;

      .w-50 {
        width: 100%
      }

      .contact_map_ifr {
        width: 300px;
        height: 300px;

      }

    }

  }


}