/* Fonts */
:root {
    --title: Baloo2;
    --main-txt: Abel;
    --bold-txt: Alegreya Sans;
    --numbers: Acme;
    --cp: Lato;
    --footer1: Exo;
    --footer2: Exo2;
    --txt: Inter
}

/* Colors */
:root {
    --text-color: #241F1F;
    --text-color-ligth: #60606E;
    --color-primary: #F5C24D;
    --color-icon: #2A819E;
    --color-wide: #F2F2F2;
    --gray: #808080;
    --color-hover: #EFEBE2;
    --color-button: #92F246;
    --mini-bg: #F2D146;
    --main-dark: #263236;
    --nums: #ED6059;
    --hr-grey: #E2DFDF;
    --hr-green: #09b672;
    --hr-adv: #EAB801;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

section {
    width: 100%;
    background-image: url("../img/bg.png");
    background-size: cover;
    position: relative;
}


/*!*------------ABOUT US SECTION--------------*!*/
.start {
    width: 80%;
    height: 60vh;
    margin: 5rem auto;
    background-image: url("../img/about-us/cartoon.png");
    /*box-shadow: 40px 10px 20px 20px rgba(3, 117, 255, 0.15);*/
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 4rem 0;
}

.start .start-txt {
    width: 80%;
    margin: 1rem 0 1rem 6rem;
}

.start-txt h6 {
    font-family: var(--title);
    font-size: 70px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: 0;
    text-align: left;
}

.start-txt p {
    width: 100%;
    font-family: var(--txt);
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    margin-top: 2rem;
    text-align: justify;
}

@media only screen and (max-width: 1400px) {
    .start {
        height: 400px;
    }

    .start .start-txt {
        width: 85%;
        margin: 0 0 0 2rem;
    }

    .start .start-txt h6 {
        font-size: 65px;
        margin-bottom: 0;
    }

    .start-txt p {
        font-size: 15px;
        margin-top: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .start {
        padding: 2rem 0;
        height: 300px;
    }

    .start .start-txt h6 {
        font-size: 40px;
    }

    .start-txt p {
        font-size: 10px;
        line-height: 12px;
        margin-top: 0;
    }
}

@media only screen and (max-width: 740px) {
    .start .start-txt {
        margin: 0 0 0 25px;
    }

    .start .start-txt h6 {
        font-size: 30px;
        line-height: 70px;
    }
}

/*----------END OF START----------*/


/*----------ABOUT US----------*/

.about-us {
    width: 80%;
    margin: 5rem auto;
}

.about-us .about-txt {
    width: 80%;
    margin: 5rem auto;
}

.about-us .about-txt h2 {
    font-family: var(--txt);
    font-size: 36px;
    font-weight: 400;
    /*line-height: 44px;*/
    letter-spacing: 0;
    text-align: left;
}

.about-us .about-txt h4 {
    font-family: var(--txt);
    font-size: 14px;
    font-weight: 400;
    /*line-height: 17px;*/
    letter-spacing: 0;
    text-align: left;
    color: var(--text-color-ligth)

}

.about-us .about-txt p {
    font-family: var(--txt);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: justify;
    color: var(--text-color-ligth);
    margin-top: 2rem;
}

.hr-grey {
    width: 100%;
    height: 6px;
    background: var(--gray);
    border: none;
}

@media only screen and (max-width: 1024px) {
    .about-us .about-txt p {
        font-size: 16px;
        line-height: 16px;
    }
}

/*----------END OF ABOUT US----------*/


/*----------SWIPER----------*/
.swiper {
    width: 80%;
    margin: 0 auto;
}
.cover {
    position: relative;
    margin-top: 10px;
}

.left {
    position: absolute;
    transform: translateY(-50%);
    left: 35%;
}

.dots {
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    left: 45%
}
.right {
    position: absolute;
    right: 30%;
    transform: translateY(-50%);
}

.scroll-images {
    position: relative;
    width: 100%;
    padding: 40px 0px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.swiper .child {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 22%;
    height: 22vh;
    padding: 0px 15px;
    margin: 1px 20px;
    /*border: 1px solid #f1f1f1;*/
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);;
    box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);;
}
.child > img {
    height: 100%;
}

.swiper .scroll-images::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
}

.scroll-images::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--mini-bg);
}

.swiper-row button > i {
    font-size: 40px;
}

/*----------END OF SWIPER----------*/


/*----------ADVANTAGES----------*/

.advantages {
    width: 80%;
    margin: 4rem auto;
}

.advantages .advantages-txt {
    width: 80%;
    margin: 5rem auto;
}

.advantages .advantages-txt h4 {
    font-family: var(--title);
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
}

.advantages .advantages-txt .hr-green {
    width: 60%;
    height: 6px;
    background: var(--hr-green);
    border: none;
    margin: 1rem auto 2rem auto;
}

.advantages .advantages-txt p {
    font-family: var(--txt);
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0;
    text-align: left;
    color: var(--text-color-ligth);
    margin-top: 20px;
}

.advantages .advantages-card {
    width: 80%;
    margin: 0 auto;
}

/*.advantages-main {*/
/*    margin-right: 25px;*/
/*}*/

/*.advantages-main:nth-child(3n) {*/
/*    margin-right: 0;*/
/*}*/

.advantages .advantages-card .advantages-main h6 {
    font-family: var(--txt);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    margin-right: 10px;
}

.advantages .advantages-card .advantages-main p {
    font-family: var(--txt);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    color: var(--text-color-ligth);
    text-align: left;
    margin-right: 30px;
}

.advantages-hr {
    width: 100%;
    height: 6px;
    background: var(--color-primary);
    border: none;
}

@media only screen and (max-width: 1400px) {
    .advantages .advantages-txt {
        margin-bottom: 3rem;
    }

    /*.advantages-main {*/
    /*    margin-right: 15px;*/
    /*}*/
    .advantages .advantages-card .advantages-main h6 {
        font-size: 14px;
        line-height: 16px;
    }

    .advantages .advantages-txt p {
        line-height: 20px;
        text-align: justify;
    }
}

@media only screen and (max-width: 1224px) {
    .advantages .advantages-txt {
        margin-bottom: 2rem;
    }

    .advantages .advantages-txt h4 {
        font-size: 20px;
        line-height: 20px;
    }

    .advantages .advantages-card .advantages-main h6 {
        font-size: 13px;
        line-height: 14px;
    }
}

/*----------END OF ADVANTAGES----------*/


/*----------EXPERTS----------*/
.experts {
    width: 80%;
    margin: 0 auto;
}

.experts .experts-txt {
    width: 80%;
    margin: 3rem auto;
}

.experts .experts-txt h4 {
    font-family: var(--title);
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
}

.experts .experts-txt p {
    font-family: var(--txt);
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0;
    text-align: center;
    color: var(--text-color-ligth);
    margin-top: 20px;
}

.experts-dots {
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    margin-left: 43%;
}

.experts .scroll-images {
    display: flex;
    justify-content: center;
}

.experts .child {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20%;
    height: 25vh;
    /*padding: 0px 15px;*/
    margin: 1px 20px;
    border: 1px solid #f1f1f1;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);;
    box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);;
}

.experts .child > img {
   width: 100%;
}
.hide {
    display: none;
}

.hah {
    cursor: pointer;
}

.hah:hover {
    opacity: 1;
    /*display: block;*/

}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}
/*----------END OF EXPERTS----------*/

/*!*------------END OF ABOUT US SECTION--------------*!*/
