root {
    --bs-secondary-rgb: 108, 117, 125;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a {
    color: rgba(49, 49, 50, 0.84);

}

.block {
    width: 70%;
    margin: 0 auto;
    padding: 100px 0px;
}


.p_img {
    display: flex;
    height: 500px;
    margin: 20px auto 50px auto;
}

.p_h_text {
    /*font-family: Baloo 2;*/
    font-size: 70px;
    font-weight: 800;
    line-height: 112px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 72px;
    margin-left: 180px;

}

.profile {
    background: #F5C24D;
    margin: 0 auto;
    padding: 100px 0;
}

.p_form {

    display: flex;
    justify-content: center;
}

.profile_input {
    width: 700px;
    height: 60px;
    margin-top: 25px;
    margin-bottom: 20px;
    border: none;
    border-radius: 100px;
    padding: 0 50px;
}

.profile_input_check {
    justify-content: space-between;
    display: flex;

}

.profile_checkbox {

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;


}

.profile_btn {
    margin-left: 250px;
    margin-bottom: 100px;
    padding: 25px 100px;
    color: black;
    background: #2DF57D;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}

.profile_btn:hover {
    cursor: pointer;
    transition-duration: 1.1s;
    background-color: #006b1b;
    color: black;

}


.center {
    text-align: center;

}

.white_hr {
    /*margin-top: 45px;*/
    background: white;
    color: white;
    width: 600px;
    height: 3px;
    margin: 10px auto 45px auto;

}

.p_icons {
    margin-right: 30px;
}


