{% extends 'layouts/base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/forgot_password.css' %}">
{% endblock %}

{% block content %}

    <div class="center">
        <div class="">
            <h1 class="re_h1"> Password reset</h1>

            <p class="re_p"> You will receive instructions for reseting your password </p>

            <form action="">
                <input type="email" placeholder="Your email address" class="re_input">
                <br>
                <button type="submit" class="re_btn">
                    SEND
                </button>
            </form>

        </div>

    </div>

{% endblock %}