{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/join.css' %}">
</head>
<body>
<div class="all">
    <div class="container">
        <div class="join">
            <div class="texts">
                <div class="join-text">
                    <h1 class="member">УчастИЕ В конкурсЕ</h1>
                </div>
                <div class="text-p">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                </div>
                <div class="join-info">
                    <a href="">
                        <button>подробное</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="inputs">
            <div class="input-content">
                <div class="questionnaire">
                    <h2>АНКЕТА</h2>
                    <p>пожалуйста, заполните эту форму, чтобы создать учетную запись</p>
                    <hr style="width: 450px">
                </div>
                <div class="form">
                    <div class="input">
                        <form action="">
                            <div class="flex">
                                <div class="input">
                                    <input type="text" placeholder="Имя:">
                                </div>
                                <div class="input">
                                    <input type="text" placeholder="Фамилия:">
                                </div>
                            </div>
                            <div class="selectors">
                                <div class="phone">
                                    <input type="text" placeholder="Телефон:">
                                </div>
                                <div class="flexs">
                                    <label for="checkbox"><img src="{% static 'img/women.png' %}" alt=""></label>
                                    <input type="checkbox" id="checkbox">
                                    <label for="checkbox"><img src="{% static 'img/male.png' %}" alt=""></label>
                                    <input type="checkbox" id="checkbox">
                                </div>
                                <div class="textarea">
                                    <textarea name="" id="" cols="30" rows="10" placeholder="Ваш коммент..."></textarea>
                                </div>
                                <input type="checkbox" id="checkbox">
                                <label for="checkbox" class="remember">Запомнить</label>
                                <div class="button">
                                    <button type="submit" class="ok">OK</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>