{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="box">
            <div class="yellow-box">
                <div class="title">
                    <h1>ПРАВИЛА</h1>
                </div>
                <img src="{% static 'main/img/book-removebg.png' %}" alt="" width="457" height="459">
            </div>
            <div class="box-png">
                <div class="main-text">
                    <h2>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h2>
                    <p>Положения Политики конфиденциальности в последний раз были обновлены 03-11-2021 <br>
                        Общие положения <br>
                        1. Оператором по обработке персональных данных сайта <a style="color: #000" href="#">https://<strong>оценика.рф</strong></a> является Образовательный
                        портал «НИКА» (ИП Исупов Андрей Васильевич, ИНН 434562712162, ОГРН 316435000061224) (далее — ОП
                        «НИКА», оператор). <br>
                        2. Данная политика конфиденциальности распространяется на всех клиентов (далее — Посетители,
                        пользователи), которые зашли на сайт <a style="color: #000" href="#">https://<strong>оценика.рф</strong></a> (далее — Сайт), на их действия, которые
                        они
                        могут совершать на Сайте, включая (но не ограничиваясь) регистрацию на Сайте (в том числе и
                        через
                        вход посредством своего аккаунта в социальных сетях), оформление заявки на участие (и само
                        участие)
                        в конкурсах, олимпиадах, викторинах, тестах, размещение (публикация) личных материалов, отзывов,
                        чтение публикуемой информации, предоставление и получение данных любого типа информации (далее —
                        Услуги). <br>
                        3. Посетители безоговорочно согласны с Политикой конфиденциальности при использовании Услуг, в
                        которой излагаются цели и способы сбора информации, а также условия её хранения и прочее. Если
                        Посетитель не согласен с данной политикой конфиденциальности, то он не имеет права пользоваться
                        Услугами Сайта. <br>
                        4. Оператор для достижения целей осуществляет: сбор, систематизацию, накопление, хранение,
                        уточнение
                        (обновление, изменение), извлечение, использование, передачу (предоставление, доступ),
                        блокирование,
                        удаление, уничтожение персональных данных. Ни волею ОП «НИКА», ни по решению каких-либо третьих
                        лиц,
                        за исключением случаев, предусмотренных законом Российской Федерации, персональные данные не
                        могут
                        быть переданы третьим лицам без особого и ясного согласия на это Посетителя.
                        Обработка персональных данных осуществляется Оператором смешанным путем: как с использованием,
                        так и
                        без использования средств автоматизации.
                        При сборе персональных данных Оператор обеспечивает их запись, систематизацию, накопление,
                        хранение,
                        уточнение (обновление, изменение), извлечение персональных данных граждан Российской Федерации с
                        использованием баз данных, расположенных в информационных системах, находящихся на территории
                        Российской Федерации.
                    </p>
                </div>
                <div class="bottom-title">
                    <h2 class="text-1">Передаваемые права третьим лицам</h2>
                    <h2 class="text-2">Регистрация Посетителей</h2>
                    <h2 class="text-3">Цели использования персональной информации</h2>
                </div>
            </div>
        </div>
{% endblock %}