@import "style.css";
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
    .from-right {
        width: 100% !important;
        overflow: auto !important;
    }
    .from-section {
        flex-direction: column;
    }
    .from-left {
        width: 100% !important;
    }
}