{% extends 'layouts/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'payment/css/payment.css' %}">
	<title>Title</title>
{% endblock %}

{% block content %}
<main class="payment-main">
    <div class="top-banner">
        <h1 class="payment-h1">ОПЛАТА</h1>
    </div>
    <div class="payment-body">
        <h3 class="form-h3">Оформление оплаты</h3>
        <form action="{% url 'payment' %}" method="POST">
            {% csrf_token %}
            <div class="initial-block">
                <div class="personal-initials">
                    <div class="input-block">
                        <label for="name-input">Ваше имя</label>
                        {{form.name}}
                    </div>
                    <div class="input-block">
                        <label for="phone-input">Ваше номер телефона</label>
                        {{form.phone}}
                    </div>
                </div>
                <div class="payment-initials">
                    <div class="input-block">
                        <label for="category-input">ОПЛАТА ПО КАТЕГОРИЯМИ</label>
                        {{form.category}}
                    </div>
                    <div class="input-block">
                        <label for="card-number">НОМЕР КАРТЫ</label>
                        {{form.card_number}}
                    </div>
                </div>
            </div>
            <div class="h-line m-top-bottom"></div>
            <div class="payment">
                <div class="pay-input-block">
                    <label for="payment-amount">СУММА</label>
                    {{form.summa}}
                </div>
                <button class="btn-pay" type="submit" id="btn-pay">ОПЛАТИТ</button>
            </div>
            <span class="quick-payment-text">быстрый способ оплаты</span>
            <div class="h-line"></div>
            <div class="payment-services">
                <div class="pay-service">
                    <a href="{% url 'error' %}"><img src="{% static 'payment/img/apelsin-pay-icon.svg' %}" alt=""></a>
                </div>
                <div class="pay-service">
                    <a href="{% url 'error' %}"><img src="{% static 'payment/img/click-pay-icon.svg' %}" alt=""></a>
                </div>
                <div class="pay-service">
                    <a href="{% url 'error' %}"><img src="{% static 'payment/img/payme-pay-icon.svg' %}" alt=""></a>
                </div>
                <div class="pay-service">
                    <a href="{% url 'error' %}"><img src="{% static 'payment/img/anorbank-pay-icon.svg' %}" alt=""></a>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}