
:root {
  --clr-input-text: #737171;
}

footer {
  display: none;
}

.profile-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-image: url("../img/bg.png");

  .container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1vh;
    padding: 4vh 1vw 2vh 1vw;

    .profile {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1vh;
      background-color: #E0E0E067;
      padding: 1vh 2vw;

      .profile-h2 {
        font-family: 'Inter', sans-serif;
        font-size: 36px;
      }

      .profile-content {
        display: flex;
        gap: 10vw;
        width: 100%;
        height: 42vh;
        align-items: center;

        .block {
          display: flex;
          flex-direction: column;
        }

        .block.left {
          height: 100%;
          flex-direction: row;
          gap: 2vw;
          align-items: center;

          .img {
            width: 16vw;

            img {
              width: 100%;
            }
          }
          .text {
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 15%;
            align-items: start;
          }
        }

        .block.right {
          justify-content: space-between;
          align-items: start;
          height: 70%;

          .gender-info {
            height: 41%;
            display: flex;
            gap: 2vw;

            .gender-block {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: end;
              align-items: center;
              gap: 1vh;

              .gender-img {
                width: 2.7vw;
                height: 6vh;

                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    .com-head {
      width: 100%;
      padding: 1vh 1vw;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FAFAFA;

      .com-span {
        font-size: 36px;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
      }
    }

    .competitions {
      background-color: #EEEEEE98;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      padding: 1vh 2vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1vh;
      color: #B6B4B4FF;
      font-size: 40px;

      .competition {
        width: 100%;
        height: 37vh;
        display: flex;
        padding: 2vh;
        gap: 2vw;

        .img {
          width: 25vw;

          img {
            width: 100%;
          }
        }

        .description {
          width: 60%;
          display: flex;
          flex-direction: column;
          gap: 3vh;

          .text,
          .title {
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            font-size: 30px;
          }

          .text {
            width: 100%;
            font-size: 25px;
            font-weight: normal;
          }
        }
      }
    }
  }

  .side-bar {
    width: 25%;
    height: 100%;
    background-color: #D9D9D998;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1vh;
    padding: 7px 10px;


    .control-block {
      background-color: #F7F7F7CD;
      display: flex;
      width: 100%;
      height: 4vh;
      padding: 1.5%;
      justify-content: space-around;
      gap: 2%;

      .notifications {
        width: 9%;
        height: 100%;

        img {
          width: 100%;
          //height: 100%;
        }
      }

      .logout-button,
      .change-password {
        width: 40%;
        background-color: #EAEAEA;
      }

      .change-password {
        width: 60%;
      }
    }

    .certificates {
      width: 100%;
      height: 100%;
      background-color: #FFFFFF80;
      display: flex;
      flex-direction: column;
      padding: 1%;
      overflow-y: scroll;
      .date {

      }

      .cer-not-found {
        margin: auto;
        color: #B6B4B4FF;
        font-size: 40px;
      }

      .certificate {

      }
    }
  }
}

.info-text {
  display: flex;
  background-color: transparent;
  font-family: var(--bold-txt);
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.btn-submit-changes {
  font-size: 20px;
  height: 100%;
  background-color: #e8e6e6;
}

.info-text:focus {
  background-color: white;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.message {
  color: red;
  background-color: transparent;
  width: 60%;
  height: 5vh;
  font-size: 18px;
}

span {
  transition: .1s ease-in-out;
}

.btn-close {
  transition: var(--trsn-parent);
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  font-size: 40px;
  background-color: white;
  color: rgba(192, 190, 190, 0.9);
  transform: translate(0, -100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-block {
  position: absolute;
  height: 10vh;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: var(--trsn-parent);
  animation: btn-close-animation 1s ease-in-out;
}

@keyframes btn-close-animation {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 100%);
  }
}

.close-block:hover {
  transition: var(--trsn-child);

  .btn-close {
    transition: var(--trsn-child);
    transform: translate(0, 50%);
  }
}

.logout.display-none,
.change-password-container.display-none {
  transition: var(--trsn-child);

  * {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.change-password-container,
.logout {
  visibility: visible;
  transition: var(--trsn-child);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 40%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh 0;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: -1px 1px 2px rgba(128, 128, 128, 0.34);

  * {
    visibility: visible;
  }

  label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-input {
    width: 60%;
    height: 4vh;
    background-color: white;
  }

  button {
    width: 60%;
    height: 4vh;
    background-color: #ececec;
  }
}

.display-none {
  width: 0;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.change-password-container {
  height: 50%;
}