
:root {
  --clr-input-text: #737171;
}

.display-none {
    display: none;
}

.profile-main {
  display: flex;
  justify-content: space-between;
  align-items: start;

  .container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .profile {
      display: flex;
      width: 100%;
      height: 50vh;
      flex-direction: column;
      .profile-h2 {

      }

      .profile-content {
        display: flex;

        .block {
          display: flex;
          flex-direction: column;
        }

        .block.left {
          .text {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
          }
        }

        .block.right {

        }
      }
    }

    .competitions {
      .text {

      }

      .competition {

      }
    }
  }

  .side-bar {

    .control-block {
      .notifications {

      }

      .logout-button {

      }

      .change-password {

      }
    }

    .certificates {
      .date {

      }

      .certificate {

      }
    }
  }
}
